.description {
    display: flex;
    justify-content: center;
}

.two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #2F80ED;
    font-weight: normal;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}