.digits {
    margin: 100px 0;
}

.section-title {
    width: 60%;
    margin: 0 auto 20px;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    width: 60%;
    margin: 0 auto 60px;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    list-style-type: none;
    justify-content: center;
    margin: 0 auto;
    row-gap: 60px;
    column-gap: 30px;
}

.table__cell {
    width: 250px;
    margin: 0;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}