.feynman {
    height: 790px;
    background-color: #F2F2F2;
    background-image: url(../images/feynman.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 867px 637px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.feynman__title {
    width: 775px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    margin: 100px 0 70px;
}
.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.feynman__link {
    color: #2F80ED;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}