.khan {
    background-color: #F2F2F2;
}

.khan__container {
    width: 80%;
    margin: 0 auto;
    padding-top: 105px;
}

.khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

.khan__quote {
    width: 790px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 36px;
}

.khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.khan__quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 68px;
}

.khan__book-container {
    display: flex;
    overflow: hidden;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
}

.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
}