.resources {}

.resources__logo-zone {
    display: flex;
    width: 1100px;
    margin: 80px auto 217px;
}

.resources__logo {}

.resources__logo-image {
    width: 270px;
    height: 38px;
}

.section-title_resources {
    margin-top: 100px;
}