.techniques {}

.cards {
    width: 920px;
    display: flex;
    margin: 0 auto 100px;
    column-gap: 100px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.cards__item {
    width: 25%;
    text-align: center;
}

.cards__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 60px 40px 43px;
}

.cards__title {
    margin: 0 0 16px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.cards__description {
    margin: 0;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
}