@import url("./normalize.css");

@import url("../blocks/global.css");

@import url("../blocks/header.css");

@import url("../blocks/content.css");

@import url("../blocks/description.css");

@import url("../blocks/techniques.css");

@import url("../blocks/video.css");

@import url("../blocks/oakley.css");

@import url("../blocks/feynman.css");

@import url("../blocks/digits.css");

@import url("../blocks/khan.css");

@import url("../blocks/kaufman.css");

@import url("../blocks/resources.css");

@import url("../blocks/footer.css");